@import '../../scss/mixins.scss';

.projects {
  width: 90%;
  padding-top: 20px;
  &__subtitle {
    font-size: 14px;
    margin: 70px 0 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    margin: 20px 0 100px 0;
    @include listStyle;
  }
}

@media screen and (max-width: 1435px) {
  .projects {
    &__list {
      grid-template-columns: 100%;
    }
  }
}

@media screen and (max-width: 750px) {
  .projects {
    &__list {
      margin: 50px 0 80px 0;
    }
  }
}
