
.techs {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin-top: 100px;
}
.techs__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 20px;
  padding: 0 0 100px 0;
  list-style-type: none;
}
