@import '../../scss/mixins.scss';

.techs {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  padding-top: 100px;
  &__list {
    margin: 70px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 20px;
    @include listStyle;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .techs {
    padding-top: 90px;
    &__list {
      margin: 50px 0 80px 0;
      gap: 15px;
    }
  }
}
