@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.section__title {
  background-color: #000;
  position: sticky;
  z-index: 10;
  top: 80px;
  font-size: 40px;
  margin: 0;
  &-circle {
    margin-right: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $lightGreen;
  }
}

@media screen and (max-width: 1000px) {
  .section__title {
    top: 250px;
    font-size: 36px;
    &_menu_closed {
      padding-top: 5px;
      top: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .section__title {
    font-size: 32px;
    &_menu_closed {
      padding-top: 10px;
    }
  }
}
