@import '../../scss/mixins.scss';

.cover {
  padding: 180px 0 50px;
  @include flex-center-column;
  &__image {
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }
  &__text {
    margin: 20px 0 0;
    font-size: 16px;
    opacity: .7;
  }
  &__title {
    text-align: center;
    max-width: 800px;
    margin: 40px 0 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
  }
  &__button {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    &:hover {
      background-color: #E85921;
      border-color: #E85921;
      color: #000;
    }
    transition: all .3s;
  }
}
