@import '../../scss/mixins.scss';

.header {
  background-color: #000;
  position: fixed;
  height: 80px;
  width: 90%;
  border-bottom: .5px solid rgba(250, 250, 250, .8);
  @include flex-space-between;
  &__nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 0;
    &-item {
      font-size: 14px;
      cursor: pointer;
      &:hover {
        opacity: .6;
        transition: opacity .2s;
      }
      &-link {
        text-decoration: none;
        color: #fff;
        opacity: .8;
      }
    }
  }
  &__contacts {
    list-style-type: none;
    display: flex;
    gap: 20px;
    &-link {
      text-decoration: none;
      color: #fff;
      &:hover {
        opacity: .6;
        transition: opacity .2s;
      }
    }
    &-item {
      opacity: .8;
      padding: 5px 20px 5px 0;
      border-right: 1px solid #fff;
      font-size: 14px;
      cursor: pointer;
      &:last-of-type {
        border: none;
        padding: 5px 0;
      }
    }
  }
}
