@import '../../scss/mixins.scss';

.header {
  background-color: #000;
  position: fixed;
  z-index: 2;
  height: 80px;
  width: 100%;
  &__content {
    @include flex-center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-bottom: .5px solid rgba(250, 250, 250, .8);
  }
  &__nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 0;
    &-item {
      font-size: 14px;
      cursor: pointer;
      &:hover {
        opacity: .6;
        transition: opacity .2s;
      }
    }
  }
}
